@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define variables for light mode (default) */
:root {
  --bg-color: #f4f7fc;
  --card-color: #ffffff;
  --text-color: #112D4E;
  --text-secondary-color: #555;
  --primary-color: #3F72AF;
  --dark-blue: #112D4E;
  --border-color: #e0e0e0;
  --button-hover-bg: #2f5c90;
}

/* Define variables for dark mode */
body.dark {
  --bg-color: #0d1117;
  --card-color: #161b22;
  --text-color: #c9d1d9;
  --text-secondary-color: #8b949e;
  --primary-color: #58a6ff;
  --dark-blue: #1f6feb;
  --border-color: #30363d;
  --button-hover-bg: #4a91e3;
}

/* Apply variables */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}